/* log-line.css */


/* rules for all windows */
/* TODO: move each windw CSS to its own file */
.window, .watch-window{
    display: block;
    height: 90%;
    padding: 5px;
}
    .window span.variable-name,
    .watch-window span.variable-name {
        color: #B3970F;
        margin-right:3px;
        font-family: "Menlo", monospace;
    }

/*watch window*/
.watch-window {
    display: inline-block;
    width: 27%;
    overflow-y:scroll;
}
    .watch-window p {
        border-left: 5px solid #ffffff;
        padding-left: 5px;
        margin: 2px 0px 0px 0px;
    }

/* default output window*/
/*TODO: rename .window to .defaultWindow*/
.window{
    overflow-y:scroll;
}
    .window .line{
        border-left: 5px solid #ffffff;
        padding-left: 5px;
        margin: 2px 0px 0px 0px;
        max-width: 800px;
    }
    .window .line:hover{
        border-left: 5px solid rgb(201, 206, 243);
    }

        .window .line:hover .tagElement{
             color: gray;
        }

    .window .line .tagElement{
        float: right;
        color: #bbbbbb;
        font-family: "menlo", monospace;
    }

    .window .line span.variable-type {
        color: rgb(43,145,175);
        margin-right:3px;
        font-family: "Menlo", monospace;
        display: inline-block;
    }

/* === Rules by data type (by visualizers) == */
/* TODO: move each visualizer CSS to its own file */

/* Unknown type */
.window .line pre.unknown-type {
    resize: both;
    background-color: #F1F1F1;
    margin: 0;
    padding: 2px;
}

/* Simple type */
.window .line .simple-type {
    font-family: "menlo", monospace;
    background-color: inherit;
    max-height: none;
    margin: 0;
    resize: none;
    font-size: 1.1em;
    white-space: pre-wrap;
}

/* Numbers Array */
.window .line .numbers-array {
}
    .window .line .numbers-array .graph{
        display: inline-block;
    }
    .window .line .numbers-array pre {
        display: inline-block;
        vertical-align: top;
        max-width: 20%;
        height: 20%;
        margin-top: 20px;
    }

/*New session*/
/*TODO: is new session is also a line?*/
.window h3.newSession {
    background-color: #C9C9C9;
}

