/* main.css */

* {
    font-family: sans-serif, serif;
}

body {
    font-size: 1.0rem;
    margin: 0;
}

h1{
}

h2{
    color: #696565;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
}

pre {
    background-color: #F1F1F1;
    max-height: 20%;
    max-width: 95%;
    margin: 0;
    resize:both;
    padding: 2px;
}

div.window{
    max-height: 90%;
    max-width: 70%;
    overflow-y:scroll;
}

div.watchWindow{
    color : blue;
    width: 30vh;
    padding-left: 50px;
}

#watchContent{
    background-color: honeydew;
    font-weight: bold;
    float:right;
}

nav {
    padding: 8px;
    background-color: #dcd0dc;
}
    nav * {
        display: inline-block;
        vertical-align: middle;
    }
    nav h1 {
        color: #055349;
        font-weight: bolder;
        margin: 0 15 0 0px;
    }
    nav #lastUpdateTimeLabel {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 0.8rem;
    }
        nav #lastUpdateTimeLabel #lastUpdateTimeValue {
            font-family: monospace;
            margin-left:3px;
        }

    nav #filter {
        display: inline-block;
        margin-top: 5px;
    }
        nav #filter * {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.0rem;
            line-height: normal;
        }
        nav #filter label {
            font-family: monospace;
        }

.line{
    border-left: 5px solid #ffffff;
    max-width:90vh;
}

.tagElement{
    float: right;
    color: ghostwhite;
    font-size: 1.2rem;
    font-family: "menlo", monospace;
}
.unknown-type{
    max-width:70%;
}
