/* main.css */

/* general stuff */
* {
    font-family: sans-serif, serif;
}

body {
    font-size: 1.0rem;
    margin: 0;
}

h1{
}

h2{
    color: #696565;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
}

pre {
    background-color: #F1F1F1;
    max-width: 95%;
    margin: 0;
    resize:both;
    padding: 2px;
}

p {
    font-size: 1.0rem;
}

/* Top navigaton bar */
nav {
    padding: 8px;
    background-color: #dcd0dc;
}
    nav * {
        display: inline-block;
        vertical-align: middle;
    }
    nav h1 {
        color: #055349;
        font-weight: bolder;
        margin: 0 15 0 0px;
    }
    nav #lastUpdateTimeLabel {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 0.8rem;
    }
        nav #lastUpdateTimeLabel #lastUpdateTimeValue {
            font-family: monospace;
            margin-left:3px;
        }

    nav #filter {
        display: inline-block;
        margin-top: 5px;
    }
        nav #filter * {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.0rem;
            line-height: normal;
        }
        nav #filter label {
            font-family: monospace;
        }
